<table class="table borderless">
  <tr>
    <td><h3>Email</h3></td>
    <td><h3>Change Admin Status</h3></td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <a class="btn btn-default" id= "submit" href="#" role="button"><%= user.email %></a>
      </td>
      <td>
        <% if !user.admin %>
          <form method="get" action="/users/<%=user.id%>/make_admin">
            <input class="btn-default btn" type="submit" value="Make Admin" id="submit">
          </form>

        <% else %>
          <form method="get" action="/users/<%=user.id%>/remove_admin">
            <input class="btn-default btn" class="btn-default btn"type="submit" value="Remove Admin" id="submit">
          </form>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


