<br><br>


<img class="about" src="/images/about-pic.JPG" alt="Book Up Team" >

<br><br>

<p>Book Up was created in July of 2015 by Katherine Thai, Alayna Herbst, and Lydia Herbst. The three met at Flatiron School’s Precollege Intro to Software Engineering Course in New York City. By the end of the two-week course, both an incredible friendship and web app was born.  As book lovers themselves, Katherine, Alayna, and Lydia aimed to create an app that would help readers choose books based on the content, rather than the format. </p>


<div class="buttons">
  <div id="contact">
    <h2>Get in Touch</h2>
  </div>

  <br>

  <div class="btn-group">
    <div class="btn">
      <a href="https://twitter.com/kthai1618" id="button4">@kthai1618</a>
    </div>

    <div class="btn">
      <a href="https://twitter.com/alaynaherbst" id="button4">@AlaynaHerbst</a>
    </div>

    <div class="btn">
      <a href="https://twitter.com/lydiaherbst" id="button4">@LydiaHerbst</a>
    </div>
  </div>
</div>

<br><br><br>

