<br><br>


<img class="about" src="/images/about-pic.JPG" alt="Book Up Team" >

<br>
<h3 id="motto">We never go out of style.css</h3>
<br>

<p>Book Up was created in July of 2015 by Katherine Thai (middle), Alayna Herbst, and Lydia Herbst, a 2015 <a id="link" href="http://kodewithklossy.com/">Kode with Klossy</a> Scholar. The three met at Flatiron School’s Precollege Intro to Software Engineering Course in New York City. By the end of the two-week course, both an incredible friendship and web app were born. Katherine has gone on to complete the <a id="link" href="https://learn.co/verified">Learn Verified</a> program. As book lovers themselves, Katherine, Alayna, and Lydia aimed to create an app that would help readers choose books based on the content, rather than the format.</p>


<div class="buttons">
  <div id="contact">
    <h2>Get in Touch</h2>
  </div>

  <br>

  <div class="btn-group">
    <div class="btn">
      <button class="btn-default btn" href="https://twitter.com/kthai1618" id="submit">@kthai1618</button>
    </div>

    <div class="btn">
      <button class="btn-default btn" href="https://twitter.com/alaynaherbst" id="submit">@AlaynaHerbst</button>
    </div>

    <div class="btn">
      <button class="btn-default btn" href="https://twitter.com/lydiaherbst" id="submit">@LydiaHerbst</button>
    </div>
  </div>
</div>

<br><br><br>

